<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "stylesheet.css" %}"/>
    <link rel="manifest" href="{% static "manifest.webmanifest" %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {% block main %}
  {% endblock %}
  <script src="{% static "scripts/jquery-3.4.1.min.js" %}">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  </script>
  <script>
    M.AutoInit();
  </script>
  {% block javascript %}
  {% endblock %}
</body>