{% extends "customers/base.html" %}
{% block main %}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
            {% if search %}
                Clientes Encontrados
            {% else %}
                Clientes
            {% endif %}
        </a>
        <a href="#" data-target="sidenav-cliente" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href=".."><i class="material-icons">arrow_back</i></a></li>
        <li>
            <div class="nav-wrapper">
            <form id="search-form" action="{% url 'search_cliente' %}" method="GET" %}">
                <div class="input-field">
                    <input name="word" id="word" type="search" required placeholder="search customer">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            </div>
        </li>
        </ul>
    </div>
</nav>    
<ul class="sidenav" id="sidenav-cliente">
    <li>
    <nav>
        <div class="nav-wrapper">
        <form id="search-form" action="{% url 'search_cliente' %}" method="GET" %}">
            <div class="input-field">
                <input name="word" id="word" type="search" required placeholder="search customer">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
        </div>
    </nav>
    </li>
    <li><a href=".."><i class="material-icons">arrow_back</i>Volver</a></li>
</ul>
    <div class="container">
        {% if clientes %}
            {% for cliente in clientes %}
                <div id="card-{{ cliente.id }}" class="card">
                    <div class="card-content">
                        <span class="card-title flow-text"> {{ cliente.nombre }} </span> 
                        <p class="col s3" >RUC: {{ cliente.ruc }} </p>
                        <p class="col s3">Tipo: {{ cliente.tipo.nombre }} </p>
                        <p class="col s3">Zona: {{ cliente.zona.nombre }} </p>
                        <p id="status-{{ cliente.id }}" class="col s3">Estado:
                            {% if cliente.estado == 'A' %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <form action="{% url 'new' %}" method="get" class="col s4 center-align flow-text">
                                <input type="hidden" value="{{ cliente.id }}" name="id">
                                <input type="hidden" value="{{ cliente.nombre }}" name="nombre">
                                <input type="hidden" value="{{ cliente.ruc }}" name="ruc">
                                <input type="hidden" value="{{ cliente.zona.nombre }}" name="zona">
                                <input type="hidden" value="{{ cliente.tipo.nombre }}" name="tipo">
                                <button class="btn" type="submit">
                                        EDITAR
                                </button>
                            </form>
                            <form class="activar col s4 center-align"> 
                            {% csrf_token %}
                                <input name="id" type="hidden" value="{{ cliente.id }}" />
                                {% if cliente.estado == 'A'%}
                                    <button class="btn-flat" name="option" type="submit" value="INACTIVAR">
                                            INACTIVAR
                                    </button>
                                {% else %}
                                    <button class="btn-flat" name="option" type="submit" value="ACTIVAR">
                                            ACTIVAR
                                    </button>
                                {% endif %}
                                </input>
                            </form>
                            <form  class="eliminar col s4 center-align" method="post">
                            {% csrf_token %}
                                <input name="id" type="hidden" value="{{ cliente.id }}" />
                                <button class="btn-flat" type="submit" value="ELIMINAR">
                                    ELIMINAR
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-s12 center-align">
                <p class="flow-text"> No hay Clientes </p>
            </div>
        </div>
        {% endif %}
        {% if search %}
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{% url 'clientes' %}" class="waves-effect waves-light btn"> Ver todos los Clientes </a>
                </div>
            </div>
        {% else %}
            <div class="fixed-action-btn">
                <a href="{% url 'new' %}"  class="btn-floating btn-large red">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% load static %}
{% endblock %}
{% block javascript %}
<script src="{% static "scripts/clientes.js" %}">
</script>
{% endblock %}