{% extends "customers/base.html" %}
{% block main %}
<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="{% url 'index' %}" class="breadcrumb">
                    <span class="flow-text">Menú</span>
                </a>
                <a href="#!" class="breadcrumb">
                    <span class="flow-text">
                        Clientes
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
    <div class="container">
        {% if clientes %}
            {% for cliente in clientes %}
                <div id="card-{{ cliente.id }}" class="card">
                    <div class="card-content">
                        <span class="card-title flow-text"> {{ cliente.nombre }} </span> 
                        <p class="col s3" >RUC: {{ cliente.ruc }} </p>
                        <p class="col s3">Tipo: {{ cliente.tipo.nombre }} </p>
                        <p class="col s3">Zona: {{ cliente.zona.nombre }} </p>
                        <p id="status-{{ cliente.id }}" class="col s3">Estado:
                            {% if cliente.estado == 'A' %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <form action="{% url 'new' %}" method="get" class="col s4 center-align flow-text">
                                <input type="hidden" value="{{ cliente.id }}" name="id">
                                <input type="hidden" value="{{ cliente.nombre }}" name="nombre">
                                <input type="hidden" value="{{ cliente.ruc }}" name="ruc">
                                <input type="hidden" value="{{ cliente.zona.nombre }}" name="zona">
                                <input type="hidden" value="{{ cliente.tipo.nombre }}" name="tipo">
                                <button class="btn" type="submit">
                                        EDITAR
                                </button>
                            </form>
                            <form method="post" class="activar col s4 center-align"> 
                            {% csrf_token %}
                                <input name="id" type="hidden" value="{{ cliente.id }}" />
                                {% if cliente.estado == 'A'%}
                                    <button class="btn-flat" name="option" type="submit" value="INACTIVAR">
                                            INACTIVAR
                                    </button>
                                {% else %}
                                    <button class="btn-flat" name="option" type="submit" value="ACTIVAR">
                                            ACTIVAR
                                    </button>
                                {% endif %}
                                </input>
                            </form>
                            <form  class="eliminar col s4 center-align" method="post">
                            {% csrf_token %}
                                <input name="id" type="hidden" value="{{ cliente.id }}" />
                                <button class="btn-flat" type="submit" value="ELIMINAR">
                                    ELIMINAR
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="row">
            <div class="col-s12 center-align">
                <p class="flow-text"> No hay Clientes </p>
            </div>
        </div>
        {% endif %}
        
        <div class="fixed-action-btn">
            <a href="{% url 'new' %}"  class="btn-floating btn-large red">
                <i class="large material-icons">add</i>
            </a>
        </div>      
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$( ".activar" ).on("submit", function(event){
    event.preventDefault();
    var id = $(this).find("input[name='id']").val()
    var option = $(this).find("button[name='option']")
    var cardid = "card-"+id
    carElement = $("#"+cardid)
    $.ajax({
        url: '/customers/ajax/toggle/cliente',
        data: {
            'id': id,
            'option': option.html()
        },
        success: function(data){
            if(data.status == "A"){
                $('#status-'+id).html("Estado: Activo")
                option.html("INACTIVAR")
                M.toast({html: 'El estado del cliente se cambió a activo'})
            } else {
                $('#status-'+id).html("Estado: Inactivo")
                option.html("ACTIVAR")
                M.toast({html: 'El estado del cliente se cambió a inactivo'})
            }
        },
        method: 'POST'
    });
});
$( ".eliminar" ).on( "submit", function( event ) {
    event.preventDefault();
    var id = $(this).find("input[name='id']").val()
    var cardid = "card-"+id
    $.ajax({
            url: '/customers/ajax/clientes/del',
            data: {
            'id': id
            },
            dataType: 'json',
            success: function (data) {
            if (data.is_deleted) {
                $("#"+cardid).remove()
                M.toast({html: 'Cliente Eliminado'})
            }
            },
            method: 'POST'
        });
});
</script>
{% endblock %}