{% extends "customers/base.html" %}
{% block body%}
<div class="nav-wrapper">
    <h1 class="brand-logo">
    Clientes
    </h1>
    <ul class="right hide-on-med-down">
        <li>Opcione</li>
    </ul>
</div>
<div class="row">
    <a class="col-1 btn btn-main" href="{% url "new" %}"> crear cliente </a>
</div>
<div class="row">
    <a class="col-1 btn" href="{% url "new_tipo" %}">crear tipo</a>
</div>
<div class="row">
    <a class="col-1 btn" href="{% url "new_zona" %}">crear zona</a>
</div>
    <h2><a href="{% url "tipos" %}"> Tipos </a></h2>
    <h2> <a href="{% url "zonas" %}"> Zonas </a> </h2>
{% endblock%}