{% extends "customers/base.html" %}
{% load static %}
{% block main %}
<nav>
    <ul id="slide-out" class="sidenav green lighten-4">
        <li><div class="user-view">
            <div class="background">
                <img src="{% static 'images/backgroundNav2.jpg' %}" width="100%">
            </div>
            <a><img class="circle" src="{% static 'images/launcher-icon-192x192.png' %}"></a>
            <br>
        </div></li>
        <li><a class="subheader">Mis Clientes</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{% url 'clientes' %}"><i class="material-icons">contacts</i>Clientes</a></li>
        <li><a class="waves-effect" href="{% url 'tipos' %}"><i class="material-icons">group</i>Tipos</a></li>
        <li><a class="waves-effect" href="{% url 'zonas' %}"><i class="material-icons">map</i>Zonas</a></li>
        <li><div class="divider"></div></li>
        <li><a onclick="window.close();">Salir</a></li>
    </ul>
    <a data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper teal darken-4">
        <a class="brand-logo center"> Clientes </a>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <a href="{% url 'clientes' %}" class="col s12 btn-large waves-effect waves-light">
            <span class="flow-text">
                Clientes
            </span>
        </a>
    </div>
    <div class="row">
        <a href="{% url 'tipos' %}" class="col s12 btn-large waves-effect waves-light">
            <span class="flow-text">
                Tipos de Cliente
            </span>
        </a>
    </div>
    <div class="row">
        <a href="{% url 'zonas' %}" class="col s12 btn-large waves-effect waves-light">
            <span class="flow-text">
                Zonas
            </span>
        </a>
    </div>
</div>
{% endblock %}