{% extends "customers/base.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <h1 class="col s12 center-align">Gestión de Clientes</h1>
        </div>
        <div class="divider"></div>
        <div class="row">
            <a href="{% url 'clientes' %}" class="col s12 btn waves-effect waves-light">Clientes</a>
        </div>
        <div class="row">
            <a href="{% url 'tipos' %}" class="col s12 btn waves-effect waves-light">Tipos de Cliente </a>
        </div>
        <div class="row">
            <a href="{% url 'zonas' %}" class="col s12 btn waves-effect waves-light">Zonas</a>
        </div>
    </div>
{% endblock %}