{% extends "customers/base.html" %}
{% load static %}
{% block main %}
<nav>
    <ul id="slide-out" class="sidenav green lighten-4">
        <li><div class="user-view">
            <div class="background">
                <img src="{% static 'images/backgroundNav2.jpg' %}" width="100%">
            </div>
            <a><img class="circle" src="{% static 'images/launcher-icon-192x192.png' %}"></a>
            <!-- <a><span class="white-text name">MIS CLIENTES</span></a> -->
            <br>
        </div></li>
        <li><a href="{% url 'index' %}">Mis Clientes</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{% url 'clientes' %}"><i class="material-icons">contacts</i>Clientes</a></li>
        <li><a class="subheader" href="{% url 'tipos' %}"><i class="material-icons">group</i>Tipos</a></li>
        <li><a class="waves-effect" href="{% url 'zonas' %}"><i class="material-icons">map</i>Zonas</a></li>
        <li><div class="divider"></div></li>
        <li><a onclick="window.close();">Salir</a></li>
    </ul>
    <a data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper teal darken-4">
        <a href="#" class="brand-logo center">
            {% if search %}
                Tipos Encontrados
            {% else %}
                Tipos
            {% endif %}
        </a>
            <form id="search-form" action="{% url 'search_tipos' %}" method="GET" %}">
                <div class="input-field">
                    <input name="word" id="word" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
    </div>
</nav>    
<ul class="sidenav" id="sidenav-cliente">
    <li> Ottras Cosas
    </li>
    <li><a href=".."><i class="material-icons">arrow_back</i>Volver</a></li>
</ul>
<div class="container">
    {% if tipos %}
    {% for tipo in tipos %}
            <div class="card">
                <div class="card-content green lighten-3">
                    <span class="card-title flow-text"> {{ tipo.nombre }} </span> 
                    <p class="col s3">Estado:
                        {% if tipo.estado == 'A' %}
                              Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </p>
                </div>
                <div class="card-action green lighten-4">
                    <div class="row">
                        <form action="{% url 'new_tipo' %}" method="get" class="col s4 center-align flow-text">
                            <input type="hidden" value="{{ tipo.id }}" name="id">
                            <input type="hidden" value="{{ tipo.nombre }}" name="nombre">
                            <button class="btn" type="submit">
                                <span class="flow-text">
                                    EDITAR
                               </span>
                            </button>
                        </form>
                        <form action="{% url 'toogle_tipo' %}" method="post" class="col s4 center-align"> 
                           {% csrf_token %}
                               <input name="id" type="hidden" value="{{ tipo.id }}" />
                               {% if tipo.estado == 'A'%}
                                   <button class="btn-flat" name="option" type="submit" value="INACTIVAR">
                                          INACTIVAR
                                 </button>
                             {% else %}
                                  <button class="btn-flat" name="option" type="submit" value="ACTIVAR">
                                         ACTIVAR
                                 </button>
                            {% endif %}
                            </input>
                        </form>
                        <form action="{% url 'del_tipo' %}" class="col s4 center-align" method="post">
                        {% csrf_token %}
                            <input name="id" type="hidden" value="{{ tipo.id }}" />
                            <button class="btn-flat" type="submit" value="ELIMINAR">
                                    ELIMINAR
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-s12 center-align">
            <p class="flow-text"> No hay Tipos </p>
        </div>
    </div>
    {% endif %}
    {% if search %}
        <div class="row">
            <div class="col s12 center-align">
                <a href="{% url 'tipos' %}" class="waves-effect waves-light btn"> Ver todos los tipos </a>
            </div>
        </div>
    {% else %}
    <div class="fixed-action-btn">
        <a href="{% url 'new_tipo' %}" class="btn-floating btn-large waves-effect waves-light red">
             <i class="large material-icons teal darken-4">add</i>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}