{% extends "customers/base.html" %}
{% block main %}
<h1> Zonas </h1>
{% if tipos %}
    {% for tipo in tipos %}
        <div>
            <h2> {{ tipo.nombre }} </h2>
            <form action="{% url "del_tipo" %}" method="post">
            {% csrf_token %}
                <input type="hidden" value="{{ tipo.id }}" name="id"/>
                <input type="submit"  value="Eliminar"/>
            </form>
        </div>
    {% endfor %}
{% else %}
    <p> No hay Zonas </p>
{% endif %}
{% endblock %}