{% extends "customers/base.html" %}
{% block main %}
<nav>
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">
                <a href="{% url 'index' %}" class="breadcrumb">
                    <span class="flow-text">Menú</span>
                </a>
                <a href="#!" class="breadcrumb">
                    <span class="flow-text">
                        Tipos
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    {% if tipos %}
    {% for tipo in tipos %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title flow-text"> {{ tipo.nombre }} </span> 
                    <p class="col s3">Estado:
                        {% if tipo.estado == 'A' %}
                              Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </p>
                </div>
                <div class="card-action">
                    <div class="row">
                        <form action="{% url 'new_tipo' %}" method="get" class="col s3 center-align flow-text">
                            <input type="hidden" value="{{ tipo.id }}" name="id">
                            <input type="hidden" value="{{ tipo.nombre }}" name="nombre">
                            <button class="btn" type="submit">
                                <span class="flow-text">
                                    EDITAR
                               </span>
                            </button>
                        </form>
                        <form action="{% url 'toogle_tipo' %}" method="post" class="col s3 center-align"> 
                           {% csrf_token %}
                               <input name="id" type="hidden" value="{{ tipo.id }}" />
                               {% if tipo.estado == 'A'%}
                                   <button class="btn-flat" name="option" type="submit" value="INACTIVAR">
                                       <span class="flow-text">
                                          INACTIVAR
                                    </span>
                                 </button>
                             {% else %}
                                  <button class="btn-flat" name="option" type="submit" value="ACTIVAR">
                                     <span class="flow-text">
                                         ACTIVAR
                                      </span>
                                 </button>
                            {% endif %}
                            </input>
                        </form>
                        <form action="{% url 'del_tipo' %}" class="col s3 center-align" method="post">
                        {% csrf_token %}
                            <input name="id" type="hidden" value="{{ tipo.id }}" />
                            <button class="btn-flat" type="submit" value="ELIMINAR">
                                <span class="flow-text">
                                    ELIMINAR
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-s12 center-align">
            <p class="flow-text"> No hay Tipos </p>
        </div>
    </div>
    {% endif %}
    <div class="fixed-action-btn">
        <a href="{% url 'new_tipo' %}" type="submit" class="btn-floating btn-large waves-effect waves-light red">
             <i class="large material-icons">add</i>
        </a>
    </div>
</div>
{% endblock %}