{% extends "customers/base.html" %}
{% load static %}
{% block main %}
<nav>
    <ul id="slide-out" class="sidenav green lighten-4">
        <li><div class="user-view">
            <div class="background">
                <img src="{% static 'images/backgroundNav2.jpg' %}" width="100%">
            </div>
            <a><img class="circle" src="{% static 'images/launcher-icon-192x192.png' %}"></a>
            <!-- <a><span class="white-text name">MIS CLIENTES</span></a> -->
            <br>
        </div></li>
        <li><a href="{% url 'index' %}">Mis Clientes</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{% url 'clientes' %}"><i class="material-icons">contacts</i>Clientes</a></li>
        <li><a class="waves-effect" href="{% url 'tipos' %}"><i class="material-icons">group</i>Tipos</a></li>
        <li><a class="subheader""><i class="material-icons">map</i>Zonas</a></li>
        <li><div class="divider"></div></li>
        <li><a onclick="window.close();">Salir</a></li>
    </ul>
    <a data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper teal darken-4">
        <a href="#" class="brand-logo center">
            {% if search %}
                Zonas Encontradas
            {% else %}
                Zonas
            {% endif %}
        </a>
    </div>
</nav>    
<div class="container">
<div class="row">
        <div class="col s12">
                <div class="row">
                    <form id="search-form" action="{% url 'search_zonas' %}" method="GET" autocomplete="off">
                    <div class="input-field col s10">
                        <input name="word" type="text" id="search-input" class="autocomplete">
                    </div>
                    <div class="input-field col s2">
                        <button type="submit" class="btn col s12" value="Buscar" >
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {% if zonas %}
    {% for zona in zonas %}
            <div id="card-{{ zona.id }}" class="card">
                <div class="card-content green lighten-3">
                    <span class="card-title flow-text"> {{ zona.nombre }} </span> 
                    <p class="col s3">Estado:
                        {% if zona.estado == 'A' %}
                              Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </p>
                </div>
                <div class="card-action green lighten-4">
                    <div class="row">
                        <form action="{% url 'new_zona' %}" method="get" class="col s4 center-align flow-text">
                            <input type="hidden" value="{{ zona.id }}" name="id">
                            <input type="hidden" value="{{ zona.nombre }}" name="nombre">
                            <button class="btn" type="submit">
                                <span class="flow-text">
                                    EDITAR
                               </span>
                            </button>
                        </form>
                        <form action="{% url 'toogle_zona' %}" method="post" class="col s4 center-align"> 
                           {% csrf_token %}
                               <input name="id" type="hidden" value="{{ zona.id }}" />
                               {% if zona.estado == 'A'%}
                                   <button class="btn-flat" name="option" type="submit" value="INACTIVAR">
                                          INACTIVAR
                                 </button>
                             {% else %}
                                  <button class="btn-flat" name="option" type="submit" value="ACTIVAR">
                                         ACTIVAR
                                 </button>
                            {% endif %}
                            </input>
                        </form>
                        <form class="form-eliminar col s4 center-align">
                        {% csrf_token %}
                            <input name="id" type="hidden" value="{{ zona.id }}" />
                            <button class="btn-flat" type="submit" value="ELIMINAR">
                                    ELIMINAR
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-s12 center-align">
            <p class="flow-text"> No hay Zonas </p>
        </div>
    </div>
    {% endif %}

    {% if search %}
        <div class="row">
            <div class="col s12 center-align">
                <a href="{% url 'zonas' %}" class="waves-effect waves-light btn"> Ver todas las Zonas </a>
            </div>
        </div>
    {% else %}
        <div class="fixed-action-btn">
            <a href="{% url 'new_zona' %}" class="btn-floating btn-large waves-effect waves-light red">
                <i class="large material-icons teal darken-4">add</i>
            </a>
        </div>
    {% endif %}
</div>
</div>
<div id="zonaDelModal" class="modal">
    <div class="modal-content center-align">
        <h4>¿Quiere eliminar la zona?</h4>
        <p></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn btn-flat"><span class="flow-text">No</span></a>
        <a id="eliminar" class="modal-close waves-effect waves-green btn"><span class="flow-text">Sí</span></a>
    </div>
</div>
{% load static %}
{% endblock %}
{% block javascript %}
<script src="{% static "scripts/zonas.js" %}">
</script>
{% endblock %}